<nav class="navbar navbar-expand-lg navbar-light mynav">
  <div class="container">
    <!-- <a class="navbar-brand" [routerLink]="['']">Kevent</a> -->
    <a class="navbar-brand" [routerLink]="['']">
      <img src="/assets/logo2_white.png" height="40" alt="">
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent" >
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/conversations']">ROOMS</a>
        </li>
      </ul>
    </div>
    <!-- <form (keydown.enter)="onSearch($event)" class="form-inline my-2 my-lg-0">
      <input (input)="onChange($event)" value="{{keyword}}"
        class="form-control mr-sm-3 search" type="search" placeholder="Search Events..." aria-label="Search" />
    </form> -->
  </div>
</nav>
